accelerate==0.24.1
acres==0.3.0
aiofiles==24.1.0
aiohttp==3.9.0
aiosignal==1.3.1
altair==5.5.0
altgraph @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.9.0
appdirs==1.4.4
appnope==0.1.4
asgiref==3.8.1
asttokens==3.0.0
async-timeout==4.0.3
attr==0.3.1
attrs==23.1.0
azure-core==1.32.0
azure-storage-blob==12.24.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==5.0.1
blinker==1.9.0
boto==2.49.0
boto3==1.35.60
botocore==1.35.60
cachetools==5.5.0
certifi==2025.1.31
cffi==1.17.1
cftime==1.6.2
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
colorama==0.4.6
comm==0.2.2
configobj==5.0.9
configparser==7.2.0
contourpy==1.1.1
cryptography==43.0.3
cycler==0.12.0
datasets==2.15.0
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
distlib==0.3.7
distro==1.9.0
Django==4.2.16
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==2.4.0
django-migration-linter==5.1.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
dotenv==0.9.9
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.2.2
executing==2.2.0
expiringdict==1.2.2
filelock==3.18.0
fonttools==4.43.0
frontend==0.0.3
frozenlist==1.4.0
fsspec==2023.10.0
future @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.23.0
google-auth==2.36.0
google-cloud-appengine-logging==1.5.0
google-cloud-audit-log==0.3.0
google-cloud-core==2.4.1
google-cloud-logging==3.11.3
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.13.1
grpcio==1.67.1
grpcio-status==1.67.1
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.19.4
humansignal-drf-yasg==1.21.10.post1
idna==3.10
ijson==3.3.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
inflection==0.5.1
ipykernel==6.29.5
ipython==8.18.1
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.2
jiter==0.9.0
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.5
label-studio==1.14.0.post0
label-studio-sdk==1.0.7
langdetect==1.0.9
launchdarkly-server-sdk==8.2.1
lockfile==0.12.2
looseversion==1.3.0
lxml==5.3.1
lxml_html_clean==0.4.0
macholib @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
narwhals==1.38.0
nest-asyncio==1.6.0
netCDF4==1.6.4
networkx==3.2.1
nibabel==5.3.2
nipype==1.10.0
nltk==3.9.1
numpy==2.0.2
openai==1.54.4
openpyxl==3.1.2
opentelemetry-api==1.28.1
ordered-set==4.0.2
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathlib==1.0.1
patsy==0.5.3
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
platformdirs==4.3.7
prompt_toolkit==3.0.50
proto-plus==1.25.0
protobuf==5.28.3
prov==2.0.1
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.28
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyboxen==1.3.0
pycparser==2.22
pydantic==2.11.1
pydantic_core==2.33.0
pydeck==0.9.1
pydot==3.0.4
Pygments==2.19.1
PyMuPDF==1.25.5
pymupdf4llm==0.0.19
pyparsing==3.2.3
pyRFC3339==2.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==2.0.4
pytz==2025.2
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==26.3.0
rdflib==6.3.2
redis==3.5.3
referencing==0.35.1
regex==2023.10.3
requests==2.32.3
requests-mock==1.12.1
rich==13.9.4
rpds-py==0.21.0
rq==1.10.1
rsa==4.9
rules==3.4
s3transfer==0.10.3
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.13.1
seaborn==0.13.2
semver==3.0.2
sentry-sdk==2.18.0
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.5
sqlparse==0.5.2
stack-data==0.6.3
starlette==0.46.1
statsmodels==0.14.0
streamlit==1.45.0
sympy==1.12
tenacity==9.1.2
threadpoolctl==3.2.0
tokenizers==0.15.0
toml==0.10.2
torch==2.1.1
tornado==6.4.2
tqdm==4.66.1
traitlets==5.14.3
traits==7.0.2
transformers==4.35.2
typing-inspection==0.4.0
typing_extensions==4.13.0
tzdata==2025.2
ua-parser==0.18.0
ujson==5.10.0
uritemplate==4.1.1
urllib3==2.3.0
user-agents==2.2.0
uvicorn==0.34.0
virtualenv==20.24.2
wcwidth==0.2.13
webencodings==0.5.1
wrapt==1.16.0
xarray==2023.7.0
xmljson==0.2.1
xxhash==3.4.1
yarl==1.9.3
zipp==3.21.0
